:root {
  --ifm-color-primary: #005376;
  --ifm-color-primary-dark: #004b6a;
  --ifm-color-primary-darker: #004764;
  --ifm-color-primary-darkest: #003a53;
  --ifm-color-primary-light: #005b82;
  --ifm-color-primary-lighter: #005f88;
  --ifm-color-primary-lightest: #006c99;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 95%;
}
article header h1 {
  font-size: 32px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
