:root {
  --ifm-color-primary: #006490;
  --ifm-color-primary-dark: #005376;
  --ifm-color-primary-darker: #00415d;
  --ifm-color-primary-darkest: #002f44;
  --ifm-color-primary-light: #3391ba;
  --ifm-color-primary-lighter: #99c8dd;
  --ifm-color-primary-lightest: #cceff6;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 95%;
}
article header h1 {
  font-size: 32px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}

h1.green {
  color: #008e74;
}

h2.green {
  color: #008e74;
}

.tagline {
  background-color: #3a71a9;
  padding: 48px;
}

.button.button--main {
  background-color: #ffcf99;
}

.button.button--main:hover {
  background-color: #ffe7cc;
}