/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

#welcome {
    margin:0 auto;
    max-width:1000px;
    padding-top:40px;
    padding-bottom: 40px;
}
.col-30 {
    width: 30%;
    float: left;
}
.col-70 {
    width: 70%;
    float: left;
}

.gp p {
    max-width: inherit !important;
}